body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;/* we can change font style by using the font-familiy css tag */

}
ul{
	position:absolute;/* set the position of the navigation bar*/
	top: 8%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 20px 0; /* Adding some padding */
	background: #fff; /* Add a white background color to the top navigation */
	display: flex; /* flex Set navigation bar horizontally using the  display tag*/
	border-radius: 10px; /* add the border radius */
	box-shadow: 0 10px 30px rgba(0,0,0,.3)
}
 /* Style the links inside the navigation bar */
ul li{
	list-style: none;
	text-align: center;
	display: block;
	border-right: 1px solid rgba(0,0,0,0.2);
}
ul li:last-child{
	border-right: none;
}
ul li a{
	text-decoration: none;
	padding: 0 50px;
	display: block;
}
/* Style the icon inside the navigation bar */
ul li a .icon{
	width: 40px; /* changing the width of the icon */
	height: 40px; /* changing the height of the icon */
	text-align: center;
	
	overflow: hidden;
	margin: 0 auto 10px;
	
}
/* set the size, height, width of the icon*/
ul li a .icon .fa{
	width: 100%;
	height: 100%;
	line-height: 40px;
	font-size: 34px;
	transition: 0.5s; /* adding the transition to make it more attractive */
	color: #000;
}

ul li a .icon .on{
    color: blue;
}

/* Change the color of icon on hover */
ul li a .icon .fa:last-child{
	color: blue;
}
/* style the color and transform of the icon on hover */
ul li a:hover .icon .fa{
	transform: translateY(-100%); /* translate y to add the hover effect */
}
ul li a .name{
	position: relative;
	height: 20px; 
	width: 100%;
	display: block;
	overflow: hidden;/*make ul li a .name overflow is hidden*/
}
/*style the font size and set transition of the navigation menu*/
ul li a .name span{
	display: block;
	position: relative;
	color: #000;
	font-size: 18px; /* changing font size */
	line-height: 20px;
	transition: 0.5s; /* adding the transition to make it more attractive */
	
}
ul li a .on span{
	color: blue;
}
/*set and change position, top, width, left, height color of the 'class'.name span:before*/
ul li a .name span:before{
	content: attr(data-text);
	position: absolute;
	top: -100%;
	width: 100%;
	left: 0;
	height: 1005;
	color: blue;
	
}
/*style hover effect of ul li a .name span */
ul li a:hover .name span{
	transform: translateY(20px);
}


.Registration-Form{
	position: absolute;
	/*inspect 
	top: 30%;
	left: 23%;
	height: 70vh;
	width: 50vh; */
	/* 1352-1007 
	top: 18%;
	left: 11%;
	height: 80vh;
	width: 105vh; */
	top: 18%;
	left: 15.5%;
	height: 82vh;
	width: 134vh;
	background: #fff; 
	border-radius: 10px; /* add the border radius */
	box-shadow: 0 10px 30px rgba(0,0,0,.3)
}

.Registration-Form .text{
	
	margin-left: 29px;
	color: blue;	
}

.Container2 {
	background-position: center;
	background-size: cover;
	margin-left: 2vw;
	display: inline-block;
	/* width: 30vw;
	height: 30vh; */
	/* background: #fff;  */
	border-radius: 10px; /* add the border radius */
	box-shadow: 0 10px 30px rgba(0,0,0,.3);
	width: 30vw;
	height: 35vh;
}


#table {
    margin-left: 0;
   margin-top: 4vh !important;
   margin-right: 15vw !important;
	border-color: #fff;
	table-layout: fixed;
	width: 75%;
	height: 30%;
    border-collapse: separate;
	background-color: #fff;
	border-spacing: 8px;
	border-radius: 10px; /* add the border radius */
	box-shadow: 0 10px 30px rgba(0,0,0,.3);
}

td {
	border-color: black;
	border-radius: 5px;
	text-align: center;
	width: 25%;
}

#table .select {
	background-size: cover;
	border: none;
	width: 100;
}

#table .sub {
	border-radius: 5px;
	background-color: green;
	color: white;
}


#table .th {
	border-radius: 5px;
	background-color: blue;
	color: white;
	text-align: center;
	width: 25%;
}


.in {
	width: auto;
	height: 100%;
	border: 0;
	/* width: 100; */
	text-align: center;
	font-weight: bold;
}

.btn {
	width: 5vw;
	height: 5vh;
	border-radius: 10px;
	margin-top: 3vh;
	border: none;
	background-color: blue;
	color: white;
    margin-left: 25vw;
	margin-right: 4vw;
}

/* 
.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    position: absolute;
}

#load {
    height: 100px;
    width: 100px;
    border: 15px-solid  black;
    border-top-color: blue;
    position: absolute;
    margin: auto;
    top: o;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    animation : spin 1.5s infinite linear;
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}  */



