<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in form</title>
    <link rel="stylesheet" href="sign-up.css">
     <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>

</head>

<body>

    <div class="bar">
        <button class="home "> <i class="fa fa-home" style="font-size:24px"></i> HOME</button>
    </div>

    <Container class="box">
        <div>
            <center>
                <h1 class="heading" style="color: blue;">Sign Up Form</h1>
                <hr>
            </center>
        </div>
        <form>




            <div class="form-group" >
                <label for="id1">Candidate Name As Per <br>10th Marksheet/10th Exam Form</label>
                <input class="form-control" type="text" maxlength="46" id="id2">
            </div>
            <div class="form-group">
                <label for="id1">ISD Code</label>
                <select name="country"
                    onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ddlCountry\',\'\')', 0)"
                    class="form-control" id="id2">
                    <option selected="selected" value="91">India (91)</option>

                </select>
                <!-- <input class="form-control" type="text" id="id2" placeholder="Enter your password"> -->
            </div>

            <div class="form-group">
                <label for="id1">Mobile No</label>
                <input class="form-control" type="text" maxlength="10" id="id2" placeholder="Mobile Number">
            </div>

            <div class="form-group">
                <label for="id1">Email-ID</label>
                <input class="form-control" type="email" id="id2" placeholder="Email-ID">
            </div>

            

            <h3 style="margin-left: 18px; color: blue;"> Choose your User Id and Password</h3>
            <hr>


            <div class="form-group">
                <label for="id1">Choose User-ID</label>
                <input class="form-control" type="text" id="id2">
            </div>

            <div
            class="form-group">
                <label  id="id1">Choose your Password </label>
                <input class="form-control" type="password"  id="id2"></div>
            <div class="form-group">
                <label id="id1">Confirm Password </label>
                <input class="form-control" type="password"  id="id2" placeholder="Confirm password">
            </div>
            <div class="form-group">

                <label id="id1">Security pin</label>
                <input class="form-control" type="text"  id="id2" placeholder="Security pin">



            </div>




            <div class="form-group">

                <label id="id1">Security pin</label>
                <input class="form-control" type="text" readonly disabled id="id2" >



            </div>
            <i class="fa-mine fa fa-refresh" aria-hidden="true" style="margin-left: 2vw;"></i>




            <div class="container">
                
                <button type="button" class="btn btn-secondary">
                    Submit
                </button>
            </div>

            </div>


            <!-- <div class="a">
                <label class="label">Candidate Name As Per <br>10th Marksheet/10th Exam Form: </label><br>
                <input name="marks" type="text" maxlength="46" id="10marks" class="next-marksheet">
                <label for="" style="text-align: center;">ISD Code</label>
                <select name="country"
                    onchange="javascript:setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$ddlCountry\',\'\')', 0)"
                   class="form-control"  id="id2">
                    <option selected="selected" value="91">India (91)</option>

                </select>

                <label class="label">Mobile No </label>
                <input class="next mobile-no" type="text">
                <br>

                <label class="label">Email </label>
                <input class="next email" type="email">
                <br>

                <h3> Choose your User Id and Password</h3>
                <hr>

                <label class="label">Choose User-ID</label>
                <input class="next user-id" type="text">
                <br>

                <label class="label">Choose your Password </label>
                <input class="next Password" type="password">

                <label class="label">Confirm Password </label>
                <input class="next confirm-Password" type="password">
                <br>

                <label class="label">Security pin</label>
                <input class="next security-pin" type="text"><i class="fa-mine fa fa-refresh" aria-hidden="true"></i>
            </div>


            <center>

                <div class="">

                    <input type="submit" name="Submit" value="Submit" class="btn">
                </div>

            </center> -->







            



     


        </form>
</body>

</html>