.bar {
	position: absolute;
	margin-top: 28px;
	left: 15.5%; 
	height: 7vh;
	width: 134vh;
    overflow: hidden;
	background: #fff; 
	border-radius: 10px; /* add the border radius */
	box-shadow: 0 10px 30px rgba(0,0,0,.3)
}

.bar .home {
	border: hidden;
	background-color: blue;
	color: white;
	height: 7vh;
	width: 5vw;
    cursor: pointers;
}

.box{
    position: absolute;
	/*inspect 
	top: 30%;
	left: 23%;
	height: 70vh;
	width: 50vh; */
	/* 1352-1007 
	top: 18%;
	left: 11%;
	height: 80vh;
	width: 105vh; */
	top: 15%;
	left: 15.5%;
	height: 80vh;
	width: 134vh;
	background: #fff; 
	border-radius: 10px; /* add the border radius */
	box-shadow: 0 10px 30px rgba(0,0,0,.3)
}


.heading {
    color: blue;
}

.label{
    display: inline-block;
    width: 280px;
    font-size: x-large;
    margin-left: 210px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.in-label {
    font-size: small;
}

.click {
	color: blue;
   margin-left: 50px;
    text-decoration: none;
}

.next {
    display: inline-block;
    width: 310px !important;
    height: 30px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box; 
     
} 

.a {
    padding-top: 50px;
    padding-bottom: 25px;
}

.fa-mine {
	margin-left: 15px;
}


.btn {
height: 30px;
width: 125px;
margin-left: 150px;
background-color: blue;
color: white;
border-radius: 8px;
border: hidden;
}

#space {
	height: 30px;
}

.btn2 {
	height: 35px;
	width: 400px;
	border-radius: 8px;
	background-color: blue;
	color: white;
	border: hidden;
}

.f {
	padding-top: 10px;
	margin-left: 41vw;
}