<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Candidates Sign-in</title>
    <link rel="stylesheet" type="text/css" href="Sign-in.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  
        <div class="bar"> 
<button class="home "> <i class="fa fa-home"  style="font-size:24px" ></i> HOME</button>
        </div>
 

    <Container class="box">
        <div>
    <center>
        <h1 class="heading">Registered Candidates Sign-In</h1>
    </center>
    </div>
    <hr>
    <form>

        <div class="a">
        <label class="label">Counselling </label> 
                <select name="drop-down" class="next drop-down" required autofocus>
                    <optgroup label="--Select--">
                    <option value="ACPDC-Common Registration 2022">ACPDC-Common Registration 2022</option>
                    </optgroup>
                </select>
                <br>

        <label class="label">User ID </label>
        <input class="next user-id" type="text">
        <br>

        <label class="label">Password </label>
        <input class="next pass" type="password">
        <br>

        <label class="label">Security Pin <label class="in-label">( Case Sensitive )</label></label>
        <input class="next put-pin" type="text">
        <br>

        <label class="label">Security Pin </label>
        <input class="next pin" type="text" readonly disabled><i class="fa-mine fa fa-refresh" aria-hidden="true"></i>
        <br>
        </div>

        <center>
            <button class="btn">Sign-In</button>    <a href="" class="click">Forgot Password ?</a>
        </center>

        <hr>
        <div id="space"></div>
        <hr>

        <center>
        <button class="btn2">Fresh Candidate Registration</button>
        </center>

        <a href="" class="click f">Forgot User id</a>
    </form>
    
    </Container>

</body>
</html>