<!DOCTYPE html>
<html lang="en">

<body>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile-Page</title>

        
        <!-- change or write your page title with the help of title tags-->
        <link rel="stylesheet" type="text/css" href="Upload.css">
        <!-- connect css file with html useing link tag -->
        <link rel="stylesheet" type="text/css"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- link this font-awesome icon css link with html file for accessing all fornt awesome
        icon form boostrapcdn.com -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
        </script>
    </head>

    <body>
        <ul>
            <!--starting ul tag to create unordered lists.-->
            <li>
                <!--The HTML li element is used to represent an item in a list. ... In menus and unordered lists-->
                <!--the a tag defines a hyperlink, which is used to link from one page to another-->
                <a href="Registration.html">
                    <!-- this anchor text for link your home to another page -->
                    <div class="icon">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <!-- this is home icon link get form fornt-awesome icon for home button -->
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <!-- copy and paste the home icon link here for hover effect -->
                    </div>
                    <div class="name"><span data-text="Registration">Registration</span></div>
                    <!-- we are create first menu item name home -->
                </a>
            </li>
            <li>
                <a href="Profile.html">
                    <!-- this anchor text for link your About page to another page -->
                    <div class="icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <!-- this is file icon link get form fornt-awesome icon for about -->
                        <!-- copy and paste the file icon link here for hover effect -->
                    </div>
                    <div class="name"><span data-text="Profile">Profile</span></div>
                    <!-- we are create second menu item name About -->
                </a>
            </li>
            <li>
                <a href="Contact.html">
                    <!-- this anchor text for link your service page to another page -->
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                        <!-- this is cogs icon link get form fornt-awesome iocn for service menu -->
                        <i class="fa fa-phone"></i><!-- copy and paste the cogs icon link here for hover effect -->
                    </div>
                    <div class="name"><span data-text="Contact">Contact</span></div>
                    <!--- we are create third menu item name services -->
                </a>
            </li>
            <li>
                <a href="Qualification.html">
                    <!-- this anchor text for link your portfolio page to another page -->
                    <div class="icon">

                        <i class="fa fa-solid fa-graduation-cap" aria-hidden="true "></i>
                        <!-- this is picture icon link get form fornt-awesome icon for portfolio -->
                        <i class="fa fa-solid fa-graduation-cap" aria-hidden="true"></i>
                    </div>
                    <div class="name"><span data-text="Qualification">Qualification</span></div>
                    <!-- we are create fourth menu item name portfolio -->
                </a>
            </li>
            <li>
                <a href="Marksheet.html">
                    <!-- this anchor text for link your team page to another page -->
                    <div class="icon">
                        <i class="fa fa-solid fa-file" aria-hidden="true"></i>
                        <!-- this is picture icon link get form fornt-awesome icon for portfolio -->
                        <i class="fa fa-solid fa-file" aria-hidden="true"></i>
                        <!-- copy and paste the home icon link here for hover effect -->
                    </div>
                    <div class="name"><span data-text="Marksheet">Marksheet</span></div>
                    <!-- we create first menu item name home -->
                </a>
            </li>
            <li>
                <a href="#">
                    <!-- this anchor text for link your home to another page -->
                    <div class="icon">
                        <i class="fa on fa-solid fa-upload" aria-hidden="true"></i>
                        <!-- this is picture icon link get form fornt-awesome icon for portfolio -->
                        <i class="fa fa-solid fa-upload" aria-hidden="true"></i>
                        <!-- copy and paste the home icon link here for hover effect -->
                    </div>
                    <div class="name on"><span data-text="Upload">Upload</span></div>
                    <!-- we create first menu item name home -->
                </a>
            </li>
        </ul>

        <Container class="box">
            <div class="container">

                <form action="" class="form-horizontal">
                    <h2 style="margin: 20px; color: blue;"> Upload Passport size photo </h2>

                    <div class="form-group has-success">
                        <label class="control-label col-sm-2" for="id2">Document No </label>
                        <div class="col-sm-6">
                            <input class="form-control" id="id2">
                        </div>
                        <div class="col-sm-6">
                            <button class="btn-up">
                                <i class="fa fa-solid fa-upload"></i>

                            </button>

                        </div>
                        <div class="col-sm-6">

                            <p> Choose your file in jpg formet <br> Size : 10KB to 100KB</p>
                        </div>
                    </div>
                    <h2 style="margin: 20px; color: blue;"> Date of birth certificate </h2>
                    <div class="form-group has-success">
                        <label class="control-label col-sm-2" for="id2">Document No </label>
                        <div class="col-sm-6">
                            <input class="form-control" id="id2">
                        </div>
                        <div class="col-sm-6">
                            <button class="btn-up">
                                <i class="fa fa-solid fa-upload"></i>

                            </button>

                        </div>
                        <div class="col-sm-6">

                            <p> Choose your file in jpg formet <br> Size : 10KB to 100KB</p>
                        </div>

                    </div>
                    <h2 style="margin: 20px; color: blue;">ITI Marksheet </h2>
                    <div class="form-group has-success">
                        <label class="control-label col-sm-2" for="id2">Document No </label>
                        <div class="col-sm-6">
                            <input class="form-control" id="id2">
                        </div>
                        <div class="col-sm-6">
                            <button class="btn-up">
                                <i class="fa fa-solid fa-upload"></i>

                            </button>

                        </div>
                        <div class="col-sm-6">

                            <p> Choose your file in jpg formet <br> Size : 10KB to 100KB</p>
                        </div>
                    </div>
                    <h2 style="margin: 20px; color: blue;"> School Leaving certificate </h2>
                    <div class="form-group has-success">
                        <label class="control-label col-sm-2" for="id2">Document No </label>
                        <div class="col-sm-6">
                            <input class="form-control" id="id2">
                        </div>
                        <div class="col-sm-6">
                            <button class="btn-up">
                                <i class="fa fa-solid fa-upload"></i>

                            </button>

                        </div>
                        <div class="col-sm-6">

                            <p> Choose your file in jpg formet <br> Size : 10KB to 100KB</p>
                        </div>
                    </div>


                    <div class="container">
                        <button type="button" class="btn btn-success" id="btn-sucess">
                            Back
                        </button>
                        <button type="button" class="btn btn-secondary" id="btn-secondry">
                            Submit
                        </button>


                    </div>


                </form>
            </div>
        </container>
    </body>

</html>